.tableContainer {
    padding: 50px 20px 50px 20px;
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 2px;
    border-radius: 10px;
    border: 1px solid #999999;
}

.table__columnTitle {
    border-bottom: 5px #000000 solid;
    background-color: #dddddd;
    padding:5px;
}

.table__columnTitle:first-child {
    border-top-left-radius: 10px;
}

.table__columnTitle:last-child {
    border-top-right-radius: 10px;
}

.table__body {
    background-color: #ffffff;
}

.table__body:hover {
    color: #999999;
}

.table__row {
    border-collapse: separate;
    border-spacing: 5px;
    text-align: center;
    vertical-align: middle;
}
.table__row:hover {
    color: #000000;
    font-weight: 600;
    background-color: #FEF200;
}

.table__row:last-child {
    border-bottom-left-radius: 10px;
}

.table__cell {
    padding:5px 2px 5px 2px;
}

.table__cell:first-child {
    background-color: #dddddd;
}

